.description {
	&__icon--margin-bottom {
		margin-bottom: 30px;
	}

	&__title--margin-bottom {
		margin-bottom: 10px;
	}
}
.description__list {
	margin-left: calc(-1 * #{$galeri-set-gap});

	@media (min-width: 768px), (min-width: 1200px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.description__item {
	text-align: center;
	margin-bottom: 30px;
	margin-left: #{$galeri-set-gap};
	flex-basis: calc(100% / 2 - #{$galeri-set-gap});

	@media (min-width: 768px) {
		width: 354px;
	}

	@media (min-width: 1200px) {
		flex-basis: calc(100% / 4 - #{$galeri-set-gap});
	}
}

.description__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;

	background-color: $section-bg-color;
	border-radius: 4px;
}

.description__title {
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	@media (min-width: 480px) {
		text-align: center;
	}
}

.description__text {
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $secondary-text-color;
}
