.footer {
	background-color: $footer-color;
	padding: 60px 0;

	&__text--margin-bottom {
		margin-bottom: 20px;
	}
}

.footer__container {
	@media (min-width: 1200px) {
		display: flex;
		align-items: baseline;
	}
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
	color: $primary-wight-color;
}

.footer__social-container {
	@media (min-width: 480px) {
		text-align: center;
		margin-bottom: 60px;
	}
	@media (min-width: 1200px) {
		margin-right: 93px;
	}
}

.footer__text {
	font-weight: $fw-bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;

	text-transform: uppercase;
	color: $primary-wight-color;
}

.social-icon__footer {
	fill: $primary-wight-color;
}
