.footer-form {
	&__input--margin-right {
		@media (min-width: 1200px) {
			margin-right: 12px;
		}
	}
}
.footer-form__box {
	display: block;

	@media (min-width: 768px) {
		width: 450px;
		margin: auto;
	}
	@media (min-width: 1200px) {
		display: flex;
	}
}

.footer-form__input {
	width: 100%;
	height: 50px;
	padding: 15px 16px;

	margin-bottom: 20px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	background: transparent;
	outline: none;
	color: $primary-wight-color;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	@media (min-width: 1200px) {
		margin-bottom: 0;
		min-width: 358px;
	}
}

.btn__text-footer {
	display: inline-flex;
	align-items: center;
	padding: 10px 28px;
}

.btn__icon {
	margin-left: 10px;
}
