.footer-form {
	&__input--margin-right {
		margin-right: 12px;
	}
}

.footer-form__input {
	width: 358px;
	height: 50px;
	padding: 15px 16px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	background: transparent;
	outline: none;
	color: $primary-wight-color;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}

.btn__text-footer {
	display: inline-flex;
	align-items: center;
	padding: 10px 26px;
}

.btn__icon {
	margin-left: 10px;
}
