.header {
	border-bottom: 1px solid $header-bottom-line-color;
}

.header__container {
	display: flex;
	align-items: center;
	height: 80px;
}

.header__logo {
	margin-right: 93px;
	padding: 24px 0 25px;
}
