.hero {
	max-width: 480px;
	min-height: 400px;
	margin: 0 auto;
	text-align: center;
	padding: 118px 0px;

	background-color: #c4c4c4;
	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../img/hero/mobile@1x.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (min-width: 1200px) {
		max-width: 1600px;
		min-height: 600px;
		margin: 0 auto;
		text-align: center;
		padding: 200px 0px;
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../img/hero/desctopt@1x.jpg);
	}
	@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
		(min-resolution: 192dpi) and (min-width: 1200px),
		(min-resolution: 2dppx) and (min-width: 1200px) {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../img/hero/desctopt@2x.jpg);
		@media (min-width: 768px) {
			background-image: linear-gradient(
					to right,
					rgba(47, 48, 58, 0.4),
					rgba(47, 48, 58, 0.4)
				),
				url(../img/hero/tablet@1x.jpg);
		}

		@media (min-device-pixel-ratio: 2) and (min-width: 768px),
			(min-resolution: 192dpi) and (min-width: 768px),
			(min-resolution: 2dppx) and (min-width: 768px) {
			background-image: linear-gradient(
					to right,
					rgba(47, 48, 58, 0.4),
					rgba(47, 48, 58, 0.4)
				),
				url(../img/hero/tablet@2x.jpg);
		}
	}

	@media (min-device-pixel-ratio: 2) and (max-width: 767px),
		(min-resolution: 192dpi) and (max-width: 767px),
		(min-resolution: 2dppx) and (max-width: 767px) {
		background-image: linear-gradient(
				to right,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../img/hero/mobile@2x.jpg);
	}

	&__title--position {
		width: 696px;
		margin: 0 auto 30px;

		@media (min-width: 480px) {
			width: 360px;
		}
	}
}

.hero__title-text {
	text-transform: uppercase;
	font-weight: $fw-black;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;

	color: $primary-wight-color;

	@media (min-width: 480px) {
		font-size: 26px;
		line-height: 1.62;
	}
}
