.hero {
	max-width: 1600px;
	min-height: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 200px 0px;

	background-color: #c4c4c4;
	background-image: linear-gradient(
			to right,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../img/bg-Img-1600x600.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title--position {
		width: 696px;
		margin: 0 auto 30px;
	}
}

.hero__title-text {
	text-transform: uppercase;
	font-weight: $fw-black;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;

	color: $primary-wight-color;
}
