.burger-menu {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	overflow: auto;

	background-color: $primary-wight-color;

	&.is-open {
		@media (max-width: 768px) {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	&__item:not(:last-child) {
		margin-bottom: 32px;
	}

	&__link {
		font-size: 40px;
		line-height: 1.175;
	}

	&__link:hover {
		color: $accent-color;
	}
}

.burger-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height: 100%;
	padding: 48px 40px;
}

.burger-btn {
	@media (min-width: 768px) {
		display: none;
	}
}

.burger-btn__icon-menu:hover,
.burger-btn-cross:hover {
	fill: $accent-color;
}

.burger-btn-cross,
.burger-btn {
	position: absolute;
	top: 10px;
	right: 15px;

	width: 40px;
	height: 40px;

	background-color: transparent;
}

.burger-contacts {
	&__list {
		margin-bottom: 64px;
	}

	&__item:not(:last-child) {
		margin-bottom: 32px;
	}

	&__link-tel {
		font-size: 34px;
		line-height: 1.175;
		@media (max-width: 480px) {
			font-size: calc(5px + 6vw);
		}
	}

	&__link-email {
		font-size: 24px;
		line-height: 1.66;
		color: $secondary-text-color;

		@media (max-width: 480px) {
			font-size: calc(5px + 4vw);
		}
	}

	&__link:hover {
		color: $accent-color;
	}
}

// .current {
// 	color: $accent-color;
// }

.burger-social {
	&__list {
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}

	&__item:not(:last-child) {
		border-right: 1px solid rgba(33, 33, 33, 0.2);
		padding-right: 10px;
	}

	&__item:not(:first-child) {
		padding-left: 10px;
	}

	&__link {
		font-size: 18px;
		line-height: 1.22;

		color: $accent-color;

		@media (max-width: 480px) {
			font-size: calc(4px + 3vw);
		}
	}
}
