.partners {
	@media (min-width: 1200px) {
		&__item:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__link:hover,
	&__link:focus {
		fill: $accent-color;
		border-color: $accent-color;
	}
}

.partners__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	margin-top: calc(-1 * #{$galeri-set-gap});
	margin-left: calc(-1 * #{$galeri-set-gap});
}
.partners__item {
	margin-top: 30px;

	@media (max-width: 1200px) {
		margin-left: 30px;
		flex-basis: calc((100% * 60px) / 2 - #{$galeri-set-gap});
	}
}

.partners__link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92px;
	width: 210px;

	border: 1px solid $primary-soc-icon-color;
	border-radius: 4px;
	fill: $primary-soc-icon-color;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media (min-width: 768px) {
		width: 226px;
	}

	@media (min-width: 1200px) {
		width: 170px;
	}
}
