.desc-overlay {
	content: "";
	width: 100%;
	height: 100%;

	background: rgba(33, 150, 243, 0.9);
}

.desc-overlay__text {
	width: 322px;

	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;

	color: $primary-wight-color;
}

.desc-overlay__text--position {
	position: absolute;
	bottom: 63px;
	left: 24px;
	z-index: 1;
}

.desc-overlay--position {
	position: absolute;
	top: 0;
	left: 0;
}

.desc-overlay--transform {
	transform: translateY(100%);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
