.team__background {
	background-color: $section-bg-color;
}

.cards__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * #{$galeri-set-gap});
}

.cards__item {
	background-color: $primary-wight-color;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.cards__item--position {
	margin-left: 30px;
	flex-basis: calc((100% * 120px) / 4 - #{$galeri-set-gap});
}

.cards__content {
	padding: 30px;
}

.cards__title,
.cards__text {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

.cards__text {
	color: $secondary-text-color;
}

.cards__title--margin-bottom {
	margin-bottom: 10px;
}

.cards__text--margin-bottom {
	margin-bottom: 16px;
}
