.container {
	margin: 0 auto;
	width: 1200px;
	padding: 0 15px;

	/*outline: 1px solid tomato;*/

	@media (min-width: 480px) {
		width: 480px;
	}

	@media (min-width: 768px) {
		width: 768px;
	}
	@media (min-width: 1200px) {
		width: 1200px;
	}
}
