.section,
.portfolio-main {
	@media (max-width: 1199px) {
		padding: 60px 0;
	}

	@media (min-width: 1200px) {
		padding: 94px 0;
	}
}

.section__title--margin-bottom {
	margin-bottom: 30px;

	@media (min-width: 1200px) {
		margin-bottom: 50px;
	}
}

.section__title {
	font-size: 28px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;

	@media (min-width: 1200px) {
		font-size: 36px;
	}
}
