// color
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$batton-hover: #188ce8;
$section-bg-color: #f5f4fa;
$primary-wight-color: #ffffff;
$footer-color: #2f303a;
$header-bottom-line-color: #ececec;
$primary-soc-icon-color: #afb1b8;

// Grid indent
$galeri-set-gap: 30px;

// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Raleway", sans-serif;

// Font-weight
$fw-black: 900;
$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;
